@import '../node_modules/compass-mixins/lib/compass';
///Partials
//@import 'partials/nav';

/// @Mixins
///
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}


/// Google Font
$primary-font: 'Source Sans Pro',
sans-serif;
/// Font-Weights
$light: 300;
$norm: 400;
$dark: 600;
// Compass Vertical Rhythm Settings
$base-font-size: 20px; // Sets the base font size
$base-line-height: 36px; // Sets the base line height
$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height 
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.
// Note these are custom. You have to tell compass to use them yourself 
$h1-fz: 65px;
$h2-fz: 56px;
$h3-fz: 48px;
$h4-fz: 36px;
$h5-fz: 28px;
$h6-fz: 24px;
@include establish-baseline;
h1 {
    @include adjust-font-size-to($h1-fz);
}

h2 {
    @include adjust-font-size-to($h2-fz);
}

h3 {
    @include adjust-font-size-to($h3-fz);
}

h4 {
    @include adjust-font-size-to($h4-fz);
}

h5 {
    @include adjust-font-size-to($h5-fz);
}

h6 {
    @include adjust-font-size-to($h6-fz);
}

p.copyright {
      font-size: 3rem;
}

$primary-color: #b6d7a8; //light green
$secondary-color: #ffd966; //gold 
$third-color: #cccccc; //grey
$light-grey: lighten($third-color, 15%);
$footer-color: #333333; // charcol grey
* {
    @include box-sizing(border-box);
    font-family: $primary-font;
}

nav > * {
  margin: 0;
  padding: 0;
}
.navigation{
  list-style-type:none;
@include display-flex();
@include flex-flow(row wrap);
 background: $light-grey;
  @include justify-content(flex-end);
  @include align-items(flex-end);
}
.navigation a{
  padding:1em;
  display:block;
  text-decoration:none;
  text-align: center;
    background: $light-grey;
    transition: all .5s linear;
}

.nav-slogan {
  width: 550px;
}

.navigation #top-nav {
 color: black;
}
.navigation a:hover{
  background: $third-color;
}

#bottom-nav {
  background: $light-grey;
  color: $third-color;
  border: 2px solid black;
}
///

.flex-header {
    @include display-flex();
    @include align-items(center);
    background-color: $primary-color;
    padding-bottom: 1rem;
}

.header-img,
.header-text {
    flex-grow: 1;
    flex-shrink: 1;
}

button {
    @include button-bg(darken($primary-color, 30%));
    color: #fff;
    @include box-shadow(#000 5px 5px 10px);
}

@media (min-width: 320px) and (max-width: 720px) {
    .flex-header {
        @include flex-flow(row wrap);
        @include justify-content(space-around);
        @include align-items(center);
    }
    ,
    .header-img,
    .header-text {
        padding: .5rem;
        font-size: .75rem;
        text-align: center;
        button {
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

@media (min-width: 721px) {
    .flex-header {
        @include flex-flow(row nowrap);
    }
    .header-img,
    .header-text {
        padding: 1.5rem;
        button {
            width: 50%;
            height: 100%;
            font-size: 2rem;
        }
    }
}

.what-is-container {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    background-color: $secondary-color;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

@media (max-width: 720px) {
    .what-is-child {
        width: 80%;
        text-align: center;
    }
}

@media (min-width: 721px) {
    .what-is-child {
        width: 50%;
        text-align: center;
    }
}

.features {
  text-align: center;
    padding-top: 2rem;
    margin-top: -10px;
    background-color: lighten($third-color, 15%);
    padding-bottom: 2rem;
}
.features div {
    @include flex(1 1 auto);
    text-align: center;
}

@media (min-width: 721px) {
    .features {
        @include display-flex();
        @include align-items(baseline);
        @include justify-content(center);
    }
    .features div {
        width: 30%;
    }
}

@media (max-width: 720px) {
    .features {
        @include flex-flow(row wrap);
    }
    .features div {
        width: 100%;
        padding: 1rem;
    }
}

.slogan {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-around);
  text-align: center;
  background-color: $light-grey;
}

.slogan:nth-of-type(3n+1){
  background: $primary-color;
  border-top: 2px solid black;

}

#features-green {
    background-color: $primary-color;
    img {
        height: 60px;
        border-radius: 50%;
    }
    button {
        width: 70%;
        height: 40px;
    @include button-bg(darken($primary-color, 30%));
        color: #fff;
        font-size: 1rem;
        @include box-shadow(#000 5px 5px 10px);
    }
}


#features-green div {
    padding: 1rem;
}

@media (min-width: 721px) {
footer {
    @include display-flex();
    @include justify-content(space-around);
    @include align-items(center);
    line-height: .5em;
    border-top: 2px solid black;
    background: darken($third-color, 70%);
    color: #fff;
    div {
          padding-bottom: 1rem;
    line-height: .25rem;
    }
}
}
@media (max-width: 720px) {
  footer {
    @include flex-flow(row wrap);
    border-top: 2px solid black;
    background: darken($third-color, 70%);    
    color: #fff;
    padding-bottom: .75rem;
    text-align: center;
  }
}

.feature-img {
    border-radius: 50%;
}