@import '../node_modules/compass-mixins/lib/compass';
@import '../bower_components/breakpoint-sass/stylesheets/_breakpoint';

// Compass Vertical Rhythm Settings
$base-font-size: 20px; // Sets the base font size
$base-line-height: 36px; // Sets the base line height
$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height 
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.

// Note these are custom. You have to tell compass to use them yourself 
$h1-fz: 50px;
$h2-fz: 40px;
$h3-fz: 30px;
$h4-fz: 24px;
$h5-fz: 20px;
$h6-fz: 18px;
@include establish-baseline;

h1 {
  @include adjust-font-size-to($h1-fz);
}

h2 {
  @include adjust-font-size-to($h2-fz);
}

h3 {
  @include adjust-font-size-to($h3-fz);
}

h4 {
  @include adjust-font-size-to($h4-fz);
}

h5 {
  @include adjust-font-size-to($h5-fz);
}

h6 {
  @include adjust-font-size-to($h6-fz);
}

$primary-color: #b6d7a8; //light green
$secondary-color: #ffd966; //gold 
$third-color: #cccccc; //grey
$footer-color: #333333; // charcol grey


.flex-header  {
  @include display-flex();
  @include flex-flow(row nowrap);
  @include align-items(stretch);
  background-color: $primary-color;
}

.header-img {
    padding: 1rem;
    flex-grow: 1;

}

.header-text {
    padding: 1.5rem;
    flex-grow: 1;
}



.what-is-container {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  background-color: $secondary-color;
}
 .what-is-child{
    width: 50%;
    text-align: center;
  }
  .navbar{
    @include display-flex()
    @include justify-content(space-between);
    @include align-items(center);
  }

.nav-container {
}

.logo-container{
    @include display-flex();

}

.features {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-around);
  background-color: darken($third-color, 30);
}

.features div {
  @include flex-grow(1);
  text-align: center;
  padding: 1rem;
}

.feature-img {
    border-radius: 50%;
}
