* html {
  font-size: 125%; }

html {
  font-size: 20px;
  line-height: 1.8em; }

h1 {
  font-size: 3.25em;
  line-height: 1.10769em; }

h2 {
  font-size: 2.8em;
  line-height: 1.28571em; }

h3 {
  font-size: 2.4em;
  line-height: 1.125em; }

h4 {
  font-size: 1.8em;
  line-height: 1.5em; }

h5 {
  font-size: 1.4em;
  line-height: 1.28571em; }

h6 {
  font-size: 1.2em;
  line-height: 1.5em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

.flex-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: #b6d7a8; }

.header-img,
.header-text {
  flex-grow: 1;
  flex-shrink: 1; }

button {
  background: #629e48;
  color: #fff;
  -webkit-box-shadow: #000 5px 5px 10px;
  -moz-box-shadow: #000 5px 5px 10px;
  box-shadow: #000 5px 5px 10px; }

@media (min-width: 320px) and (max-width: 720px) {
  .flex-header {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  
  .header-img,
  .header-text {
    padding: 1rem; }
    
    .header-img button,
    .header-text button {
      width: 50%;
      height: 100%;
      font-size: 1.5rem;
      text-align: center; } }

@media (min-width: 721px) {
  .flex-header {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .header-img,
  .header-text {
    padding: 1.5rem; }
    .header-img button,
    .header-text button {
      width: 50%;
      height: 100%;
      font-size: 2rem; } }

.what-is-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffd966; }

@media (max-width: 720px) {
  .what-is-child {
    width: 80%;
    text-align: center; } }

@media (min-width: 721px) {
  .what-is-child {
    width: 50%;
    text-align: center; } }

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }

.logo-container {
  display: -webkit-flex;
  display: flex; }

.features {
  text-align: center; }

.features div {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center; }

@media (min-width: 721px) {
  .features {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: center;
    justify-content: center; }
  .features div {
    width: 30%; } }

@media (max-width: 720px) {
  .features {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  .features div {
    width: 90%; } }

.features {
  background-color: #f2f2f2;
  border-bottom: 2px solid black; }

#features-green {
  background-color: #b6d7a8; }
  #features-green img {
    height: 60px;
    border-radius: 50%; }
  #features-green button {
    width: 70%;
    height: 40px;
    background: #629e48;
    color: #fff;
    font-size: 1rem;
    -webkit-box-shadow: #000 5px 5px 10px;
    -moz-box-shadow: #000 5px 5px 10px;
    box-shadow: #000 5px 5px 10px; }

#features-green div {
  padding: 1rem; }

.features .slogan > h3 {
  font-size: 2.5rem;
  height: 100px;
  margin-bottom: -15px;
  margin-top: -20px;
  padding: 1rem; }

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  line-height: .5em; }

.feature-img {
  border-radius: 50%; }
