* html {
  font-size: 125%; }

html {
  font-size: 20px;
  line-height: 1.8em; }

h1 {
  font-size: 3.25em;
  line-height: 1.10769em; }

h2 {
  font-size: 2.8em;
  line-height: 1.28571em; }

h3 {
  font-size: 2.4em;
  line-height: 1.125em; }

h4 {
  font-size: 1.8em;
  line-height: 1.5em; }

h5 {
  font-size: 1.4em;
  line-height: 1.28571em; }

h6 {
  font-size: 1.2em;
  line-height: 1.5em; }

p.copyright {
  font-size: 3rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

nav > * {
  margin: 0;
  padding: 0; }

.navigation {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #f2f2f2;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.navigation a {
  padding: 1em;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #f2f2f2;
  transition: all .5s linear; }

.nav-slogan {
  width: 550px; }

.navigation #top-nav {
  color: black; }

.navigation a:hover {
  background: #cccccc; }

#bottom-nav {
  background: #f2f2f2;
  color: #cccccc;
  border: 2px solid black; }

.flex-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: #b6d7a8;
  padding-bottom: 1rem; }

.header-img,
.header-text {
  flex-grow: 1;
  flex-shrink: 1; }

button {
  background: #629e48;
  color: #fff;
  -webkit-box-shadow: #000 5px 5px 10px;
  -moz-box-shadow: #000 5px 5px 10px;
  box-shadow: #000 5px 5px 10px; }
  button:hover {
    background: #50823c;
    transition: all 0.3s ease; }
  button:active {
    background: #2c4620; }

@media (min-width: 320px) and (max-width: 720px) {
  .flex-header {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center; }
  
  .header-img,
  .header-text {
    padding: .5rem;
    font-size: .75rem;
    text-align: center; }
    
    .header-img button,
    .header-text button {
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      text-align: center; } }

@media (min-width: 721px) {
  .flex-header {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .header-img,
  .header-text {
    padding: 1.5rem; }
    .header-img button,
    .header-text button {
      width: 50%;
      height: 100%;
      font-size: 2rem; } }

.what-is-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffd966;
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

@media (max-width: 720px) {
  .what-is-child {
    width: 80%;
    text-align: center; } }

@media (min-width: 721px) {
  .what-is-child {
    width: 50%;
    text-align: center; } }

.features {
  text-align: center;
  padding-top: 2rem;
  margin-top: -10px;
  background-color: #f2f2f2;
  padding-bottom: 2rem; }

.features div {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center; }

@media (min-width: 721px) {
  .features {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-justify-content: center;
    justify-content: center; }
  .features div {
    width: 30%; } }

@media (max-width: 720px) {
  .features {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  .features div {
    width: 100%;
    padding: 1rem; } }

.slogan {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  background-color: #f2f2f2; }

.slogan:nth-of-type(3n+1) {
  background: #b6d7a8;
  border-top: 2px solid black; }

#features-green {
  background-color: #b6d7a8; }
  #features-green img {
    height: 60px;
    border-radius: 50%; }
  #features-green button {
    width: 70%;
    height: 40px;
    background: #629e48;
    color: #fff;
    font-size: 1rem;
    -webkit-box-shadow: #000 5px 5px 10px;
    -moz-box-shadow: #000 5px 5px 10px;
    box-shadow: #000 5px 5px 10px; }
    #features-green button:hover {
      background: #50823c;
      transition: all 0.3s ease; }
    #features-green button:active {
      background: #2c4620; }

#features-green div {
  padding: 1rem; }

@media (min-width: 721px) {
  footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    line-height: .5em;
    border-top: 2px solid black;
    background: #1a1a1a;
    color: #fff; }
    footer div {
      padding-bottom: 1rem;
      line-height: .25rem; } }

@media (max-width: 720px) {
  footer {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    border-top: 2px solid black;
    background: #1a1a1a;
    color: #fff;
    padding-bottom: .75rem;
    text-align: center; } }

.feature-img {
  border-radius: 50%; }
