* html {
  font-size: 125%; }

html {
  font-size: 20px;
  line-height: 1.8em; }

h1 {
  font-size: 2.5em;
  line-height: 1.08em; }

h2 {
  font-size: 2em;
  line-height: 1.35em; }

h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

h4 {
  font-size: 1.2em;
  line-height: 1.5em; }

h5 {
  font-size: 1em;
  line-height: 1.8em; }

h6 {
  font-size: 0.9em;
  line-height: 2em; }

.flex-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #b6d7a8; }

.header-img {
  padding: 1rem;
  flex-grow: 1; }

.header-text {
  padding: 1.5rem;
  flex-grow: 1; }

.what-is-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffd966; }

.what-is-child {
  width: 50%;
  text-align: center; }

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }

.logo-container {
  display: -webkit-flex;
  display: flex; }

.features {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: gray; }

.features div {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  padding: 1rem; }

.feature-img {
  border-radius: 50%; }
