
$primary-color: #b6d7a8; //light green
$primary_color__dark: darken($primary-color, 30%);
$secondary-color: #ffd966; //gold 
$third-color: #cccccc; //grey
$light-grey: lighten($third-color, 15%);
$footer-color: #333333; // charcol grey
