* {
  margin: 0px;
  padding: 0px; }

.navigation {
  list-style-type: none;
  width: 100%; }

.navigation a {
  padding: 1em;
  width: 150px;
  color: white;
  display: block;
  text-decoration: none;
  background: blue;
  transition: .5s ease-in; }

.navigation #top-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.navigation a:hover {
  background: red; }
